.ForgetpasswordComponentWrapper {
    border-radius: 16px;
    border: 1px solid #FFF;
    background: #455A64;
    padding: 10px 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h5 {
        color: var(--main-color, #5DBB67);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.24px;
        margin:10px 0px;
        padding:10px 0px
    }

    .formContainer {
        width: 100%;
        color: #fff;
        .fieldContainer {
            span {
                color: #FFF;
                text-align: right;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
                letter-spacing: -0.24px;
            }

            .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
                background-color: white;
                border-radius: 16px;
                margin-top: 10px;
            }
        }

        .passReset {
            margin-top: 14px;

            a {
                color: var(--main-color, #5DBB67);
                text-align: right;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
                letter-spacing: -0.24px;
            }
        }
    }
}