.ForgetpasswordWrapper {
    height: 110vh;

    .IconWithLink {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #fff;
        p {
            border-bottom: 1px solid white;
        }
    }
}